[Desktop Entry]
Name=Restart Phosh
Comment=Restart Phosh
Version=1.0
Type=Application
Icon=org.gnome.Evince
Exec=gnome-terminal -- /bin/bash -c 'sudo systemctl restart phosh'
