[Desktop Entry]
Name=Restart Network
Comment=Restart Network
Version=1.0
Type=Application
Icon=org.gnome.Evince
Exec=gnome-terminal -- /bin/bash -c 'sudo systemctl restart NetworkManager'
