[Desktop Entry]
Name=Updates
Comment=Updates
Version=1.0
Type=Application
Icon=org.gnome.Evince
Exec=gnome-terminal -- /bin/bash -c 'echo "Updates";  sudo pacman -Sy --noconfirm ; sudo pacman -S --noconfirm ca-certificates ; yay -S --noconfirm librewolf-bin; echo "Finished"; sleep 4;'
